.search-container {
  margin-bottom: 2rem;

  input {
    font-size: 1.5rem;
    border-radius: 5px;
    outline: none;
    padding: 2px;
  }

  button {
    background-color: yellow;
    font-size: 1.5rem;
    padding: 4px 8px;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
  }

  button:hover {
    transform: scale(1.1);
  }
}
