.page-number-container {
    div {
        button {
            background-color: yellow;
            padding: 2px;
            width: 2rem;
            font-size: 1.2rem;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}